<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR"> <!--<![endif]-->
<head>

    <script>

        // Dev Base URL
//        var baseUrl = "http://<?php echo $_SERVER['HTTP_HOST']; ?>/app-glauber";

        // Server Base URL
        // var baseUrl = "http://www.domínio.com.br/";

    </script>

    <!--[if lt IE 9]>
       <script type="text/javascript"> window.location.href = baseUrl + "/ie/index.html"; </script>
    <![endif]-->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SeedTech Homecare Automation System</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the assets/images/icons directory -->
    <link rel="shortcut icon" href="images/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-touch-icon-144x144.png">

    <!-- Facebook Metadata /-->
    <meta property="fb:page_id" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>

    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/normalize.css') }}" /> 
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}" /> 
    <link rel="stylesheet" href= "{{ url_for('static', filename='../static/css/mediasqueries.css') }}" /> 
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="js/modernizr-2.6.2.min.js"></script>

</head>
<body>
