<section>
	<p class="title" data-section-title><a href="#panel2">Registros</a></p>
	<div class="content" data-section-content>
		<p>Pesquisar registros</p>

		<!-- LINHA 1 -->
		<div class="row">
			<form class="custom">
				<div class="large-4 columns">
					<p>De: <input type="text" id="dp1" class="hasDatepick" /></p>
				</div>

				<div class="large-4 columns">
					<p>Até: <input type="text" id="dp2" class="hasDatepick" /></p>
				</div>

				<div class="large-4 end columns">
					<div class="panel auto">
						<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Pressão Sanguínea</label>
						<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Frequência Cardíaca</label>
						<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Oximetria</label>
						<label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Glicose</label>
					</div>
					<div class="panel auto">
						<label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio"></span> Todos</label>
					    <label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio"></span> Apenas ALERTAS</label>
					</div>
				</div>
				<div class="large-12 end columns">
					<input type="button" value="Pesquisar" id="goForm" onclick="tabelas" />
				</div>
			</form>
		</div>
		<!-- /LINHA 1 -->
		<hr />
		<!-- LINHA 2 -->
		<div class="row" id="tabelas-registros">
			<div class="large-6 columns">
				<label>Pressão</label>
				<table>
					<thead>
					    <tr>
					      <th width="300">Data / Hora</th>
					      <th width="300">Sis.</th>
					      <th width="300">Dias</th>
					    </tr>
					</thead>
					<tbody>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					</tbody>
				</table>
			</div>

			<div class="large-6 columns">
				<label>Frequência Cardíaca</label>
				<table>
					<thead>
					    <tr>
					      <th width="300">Data / Hora</th>
					      <th width="300">BPS</th>
					    </tr>
					</thead>
					<tbody>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					</tbody>
				</table>
			</div>

			<div class="large-6 columns">
				<label>Oximetria</label>
				<table>
					<thead>
					    <tr>
					      <th width="300">Data / Hora</th>
					      <th width="300">Sis.</th>
					      <th width="300">Dias</th>
					    </tr>
					</thead>
					<tbody>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					</tbody>
				</table>
			</div>

			<div class="large-6 columns">
				<label>Glicose</label>
				<table>
					<thead>
					    <tr>
					      <th width="300">Data / Hora</th>
					      <th width="300">Sis.</th>
					      <th width="300">Dias</th>
					    </tr>
					</thead>
					<tbody>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					    <tr>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					      <td>Conteúdo</td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /LINHA 2 -->
	</div>
</section>