
				<section class="active">
				    <p class="title" data-section-title><a href="#panel1">Coleta</a></p>
 				    <div class="content" data-section-content>
				    <center><h2><p>SeedTech Homecare Automation System</p></h2></center>	
					<p>Central de coleta</p>
					
					<div class="row">
						<div class="large-9 columns">
							<h3>Próxima coleta: 14:00</h3>
						</div>
						<div class="large-3 columns">
							<label>Localizador</label>
							<div class="panel auto">
								<p class="text-localizador">Sala</p>
							</div>
						</div>
					</div>
					
					<hr />

			    	<!-- LINHA 1 -->
			    	<div class="row">
			    		<div class="large-3 columns">
			    			<label>Pressão</label>
							<div class="panel coletado">
								<span>Status</span>
								<p>{{ pressure }}</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Frequência cardíaca</label>
							<div class="panel coletado">
								<span>Status</span>
								<p>{{ hz }}</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Oximetria</label>
							<div class="panel coletado">
								<span>Status</span>
								<p>{{ oximetry }}</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Glicose</label>
							<div class="panel coletado">
								<span>Status</span>
								<p>{{ glico }}</p>
							</div>
			    		</div>
			    	</div>
			    	<!-- /LINHA 1 -->
					<hr />
					<p>Último Registro:</p>
			    	<!-- LINHA 2 -->
			    	<div class="row">
			    		<div class="large-3 columns">
			    			<label>Pressão</label>
							<div class="panel auto">
							<p>codigo jinja</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Frequência cardíaca</label>
							<div class="panel auto">
							<p>codigo jinja</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Oximetria</label>
							<div class="panel auto">
							<p>codigo jinja</p>
							</div>
			    		</div>
			    		<div class="large-3 columns">
			    			<label>Glicose</label>
							<div class="panel auto">
							<p>CODIGO JINJA</p>
							</div>
			    		</div>
			    	</div>
			    	<!-- /LINHA 2 -->

					<div class="row">
						<div class="large-3 end columns">
							<label>Localizador</label>
							<div class="panel auto">
								<p class="text-localizador">Sala</p>
							</div>
						</div>
					</div>
				</div>
			</section>
