{% include 'header.html' %}
        <section class="main">

                <div class="row">
                        <div class="large-12 columns">
                                <div class="section-container auto" data-section>

                                <!--  COLETA -->
				OIOIOIOI
				{% include 'coleta.html' %}
                                <!-- /COLETA -->

                                <!-- REGISTROS -->
				{% include 'registros.html' %}
                                <!-- /REGISTROS -->

                                <!-- CONFIGURAÇÕES -->
				{% include 'configuracoes.html' %}
                                <!-- /CONFIGURAÇÕES -->

                                </div>
                        </div>
                </div>

        </section>


{% include 'footer.html' %}
